<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>BrawlTrackr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script>
        function search(){
            inputPlayerTag = document.getElementById("playerTag").value;
            axios.post('/searchPlayerTag', {
                playerTag: inputPlayerTag
            })
            .then(function (response) {
                var playerInfo = response.data;
                console.log(playerInfo);
                document.getElementById("tagField").innerHTML = "Player Tag: " + playerInfo.tag;
                document.getElementById("nameField").innerHTML = "Player Name: " + playerInfo.name;
                document.getElementById("trophiesField").innerHTML = "Current Trophies: " + playerInfo.trophies;
                document.getElementById("highestTrophiesField").innerHTML = "Highest Trophies: " + playerInfo.highestTrophies;
                document.getElementById("3vs3VictoriesField").innerHTML = "3v3 Victories: " + playerInfo['3vs3Victories'];
                document.getElementById("soloVictoriesField").innerHTML = "Solo Victories: " + playerInfo.soloVictories;
                document.getElementById("duoVictoriesField").innerHTML = "Duo Victories: " + playerInfo.duoVictories;
                document.getElementById("expLevelField").innerHTML = "Previous EXP Level: " + playerInfo.expLevel;
                document.getElementById("clubField").innerHTML = "Club: " + playerInfo.club ? "Club: " + playerInfo.club.name : "Player is not in a club";
            })
            .catch(function (error) {
                console.error('Error searching player tag:', error);
            });
        }
    </script>
</head>
<body>
    <h1 id="h1name">Brawl Stars Stats Tracker</h1>
    <div id="inputDiv">
        <input type="text" id="playerTag" placeholder="Enter Player Tag (E.g 5FVWQY7T3)">
        <button type="button" class="btn btn-primary" onclick="search()" id="searchButton">Search</button>
    </div>
    <div id="resultsDiv">
        <div id="resultsContainer">
            <div id="tagField"></div>
            <div id="nameField"></div>
            <div id="trophiesField"></div>
            <div id="highestTrophiesField"></div>
            <div id="3vs3VictoriesField"></div>
            <div id="soloVictoriesField"></div>
            <div id="duoVictoriesField"></div>
            <div id="expLevelField"></div>
            <div id="clubField"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>