<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>BrawlTrackr</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script>
        function search(){
            document.getElementById("tagField").innerHTML = "";
            document.getElementById("nameField").innerHTML = "";
            document.getElementById("trophiesField").innerHTML = "";
            document.getElementById("highestTrophiesField").innerHTML = "";
            document.getElementById("3vs3VictoriesField").innerHTML = "";
            document.getElementById("soloVictoriesField").innerHTML = "";
            document.getElementById("duoVictoriesField").innerHTML = "";
            document.getElementById("expLevelField").innerHTML = "";
            document.getElementById("clubField").innerHTML = "";

            inputPlayerTag = document.getElementById("playerTag").value;
            document.getElementById("searchButton").textContent = "Conecting to server...";
            setTimeout(function(){
                document.getElementById("searchButton").textContent = "Fetching player info...";
            }, 1500);
            setTimeout(function(){
                axios.post('/searchPlayerTag', {
                    playerTag: inputPlayerTag
                })
                .then(function (response) {
                    if (response.data == "Player not found"){
                        document.getElementById("searchButton").textContent = "Player not found!";
                        setTimeout(function(){
                            document.getElementById("searchButton").textContent = "Search";
                        }, 1500);
                        return;
                    }
                    document.getElementById("searchButton").textContent = "Search";
                    var playerInfo = response.data;
                    document.getElementById("resultsContainer").style.backgroundColor = "whitesmoke";
                    document.getElementById("resultsContainer").style.borderRadius = "10px";
                    document.getElementById("resultsContainer").style.boxShadow = "0 0 10px rgba(0, 0, 0, 0.5)";
                    document.getElementById("resultsContainer").style.padding = "30px";
                    document.getElementById("resultsContainer").style.width = "40%";

                    document.getElementById("tagField").innerHTML = "Player Tag: " + playerInfo.tag;
                    document.getElementById("nameField").innerHTML = "Player Name: " + playerInfo.name;
                    document.getElementById("trophiesField").innerHTML = "Current Trophies: " + playerInfo.trophies;
                    document.getElementById("highestTrophiesField").innerHTML = "Highest Trophies: " + playerInfo.highestTrophies;
                    document.getElementById("3vs3VictoriesField").innerHTML = "3v3 Victories: " + playerInfo['3vs3Victories'];
                    document.getElementById("soloVictoriesField").innerHTML = "Solo Victories: " + playerInfo.soloVictories;
                    document.getElementById("duoVictoriesField").innerHTML = "Duo Victories: " + playerInfo.duoVictories;
                    document.getElementById("expLevelField").innerHTML = "Previous EXP Level: " + playerInfo.expLevel;
                    document.getElementById("clubField").innerHTML = "Club: " + playerInfo.club ? "Club: " + playerInfo.club.name : "Player is not in a club";
                })
                .catch(function (error) {
                    console.error('Error searching player tag:', error);
                });
            }, 3000);
        }
    </script>
</head>
<body>
    <h1 id="mainHeader">BrawlTrackr</h1>
    <div id="inputDiv">
        <div id="inputContainer">
            <div id="topRow">
                <input type="text" id="playerTag" placeholder="Enter Player Tag (E.g 5FVWQY7T3)">
                <div id="searchButtonDiv">
                    <button type="button" class="btn btn-warning" onclick="search()" id="searchButton">Search</button><br>
                </div>
            </div>
        </div>
    </div>
    <div id="resultsDiv">
        <div id="resultsContainer">
            <div class="statistic" id="tagField"></div>
            <div class="statistic" id="nameField"></div>
            <div class="statistic" id="trophiesField"></div>
            <div class="statistic" id="highestTrophiesField"></div>
            <div class="statistic" id="3vs3VictoriesField"></div>
            <div class="statistic" id="soloVictoriesField"></div>
            <div class="statistic" id="duoVictoriesField"></div>
            <div class="statistic" id="expLevelField"></div>
            <div class="statistic" id="clubField"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>